/* Color module integration - separate stylesheet. */

body {
  background-color: #ffffff; /* bg */
  color: #333333; /* text */
}

a,
a:visited,
a:focus {
  color: #237da3; /* link */
}

a:hover,
a:active {
  color: #2e8eb8; /* hover */
}

h1, h2, h3, h4, h5, h6 {
  color: #000000; /* headings */
}

#navigation .menu {
  border-bottom: 1px solid #3ca0cb; /* highlight */
}

#navigation .menu li a:hover,
#navigation .menu li a.active {
  color: #ffffff;
  background-color: #3ca0cb; /* highlight */
}

body .slicknav_menu {
  background-color: #3ca0cb; /* highlight */
}

#footer {
  border-top: 1px solid #3ca0cb; /* highlight */
}
