/* CSS for Parish theme */

/* Typography & General ----------------------------------------------------- */
body {
  font: 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#page-wrapper {
  font-size: .875em; /* 16 x .875 = 14px (baseline) */
}

h1, h2, h3, h4, h5, h6 {
  margin: .35em 0 .15em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

dt {
  clear: left;
  float: left;
  font-weight: bold;
  margin: .95em 0 0;
  text-align: right;
  width: 20%;
}

dd {
  float: left;
  margin: 1em 0 0 .5em;
  width: 75%;
}

/* Make HTML5 work in IE. Silly IE. */
#header,
#footer,
#sidebar-first,
#sidebar-second,
#navigation
#content {
  display: block;
}

/* Layout ------------------------------------------------------------------- */
/* Logo and Header area */
#header {
  padding: 1em 0 1.5em;
}

#header .section {
  padding: 0 20px;
}

#logo {
  float: left;
  margin-right: 1.5em;
}

/* Site Title */
#site-name {
  font-family: 'Merriweather', Georgia, Times, serif;
  font-weight: normal;
  font-size: 2.6em;
  line-height: 1.2em;
  margin: .35em 0 0;
  margin-bottom: 0;
  padding: .6em 0 0;
}

#site-name a {
  color: #000;
  text-decoration: none;
}

#site-name a:hover {
  color: #444;
}

/* Site Slogan */
#site-slogan {
  color: #777;
  font-style: italic;
}

/* Main Section - Content and Sidebars */
#main-wrapper {
  clear: both;
}

#content .section {
  padding: 0 20px;
}

#content,
#sidebar-first,
#sidebar-second {
  min-height: 400px;
}

.with-navigation #content,
.with-navigation #sidebar-first,
.with-navigation #sidebar-second {
  margin-top: 3.5em;
}

.sidebar-first #content .section {
  padding-left: 220px;
}

.sidebar-second #content .section {
  padding-right: 180px;
}

.two-sidebars #content .section {
  padding: 0 180px 0 220px;
}

#main .sidebar .section {
  margin-top: .25em;
  padding: .5em;
}

#sidebar-first {
  background: transparent url(../images/sidebar-border.png) top right no-repeat;
}

#sidebar-second {
  background: transparent url(../images/sidebar-border.png) top left no-repeat;
}

#sidebar-first .block,
#sidebar-second .block {
  display: block;
  margin-bottom: .5em;
  padding: .25em .5em .5em;
}

#sidebar-first .block {
  margin-right: .5em;
}

#main .sidebar .block h2 {
  border-bottom: 1px solid #ccc;
  font-size: 1.2em;
  margin: .2em 0 0;
  padding-left: .4em;
}

/* Footer Section */
#footer {
  clear: both;
  margin-top: 1.5em;
  padding: 0 1em;
}

#footer .column {
  width: 33%;
  float: left;
}

#footer .column .section {
  padding: 1em 1.2em;
}

#footer .region-footer {
  clear: both;
  color: #999;
  font-size: .95em;
}

#footer .region-footer a {
  color: #999;
}

#footer .region-footer a:hover {
  color: #666;
}

/* Navigation --------------------------------------------------------------- */

/* Main site menu */
#navigation ul.menu,
#navigation ul.menu li {
  margin: 0;
  padding: 0;
  width: auto;
}

#navigation ul.menu {
  display: inline-block;
  padding-left: 1em;
  z-index: 100;
  width: 98.5%;
}

#navigation ul.menu li {
  float: left;
  list-style: none;
  position: relative;
}

#navigation ul.menu li a {
  background-color: #ddd;
  border-radius: .4em .4em 0 0;
  color: #222;
  display: block;
  font-size: 1.02em;
  font-weight: bold;
  margin: 0 .3em 0 0;
  padding: .3em 1em;
  text-decoration: none;
}

/* Hide mobile nav menu by default. */
.slicknav_menu {
  display: none;
}

/* Drop-down menus */
#navigation ul.menu ul.menu {
  border: 0;
  display: none;
  margin: 0;
  padding-left: 0;
}

#navigation ul.menu li.expanded:hover ul.menu {
  display: block;
  position: absolute;
  top: 2.1em;
}

#navigation ul.menu ul.menu li {
  float: none;
  width: 14em;
}

#navigation ul.menu ul.menu li a {
  border-radius: 0;
}

/* Tabs */
ul.primary,
ul.primary li {
  margin: 0;
  padding: 0;
  width: auto;
}

ul.primary {
  display: inline-block;
  padding-left: .8em;
  width: 99%;
}

ul.primary::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

ul.primary li {
  float: left;
}

ul.primary li a {
  border-radius: .3em .3em 0 0;
  color: #000;
  display: block;
  margin: 0 .3em -1px 0;
  padding: .25em .8em;
}

ul.secondary {
  padding-bottom: 1em;
}

ul.secondary li {
  padding: .2em 1em;
}

/* Other Menus */
ul.menu {
  margin: .5em 0;
  padding-left: .7em;
}

ul.menu ul {
  margin: 0;
}

/* Nodes -------------------------------------------------------------------- */
/* List Display */
.node h2 a {
  color: #000;
  text-decoration: none;
}

.node h2 a:hover {
  color: #444;
}

.node footer {
  overflow: auto;
}

.node ul.links {
  float: right;
}

/* Blocks ------------------------------------------------------------------- */
/* Search Block */
#search-block-form input.form-text,
#search-form input.form-text {
  font-size: 1.2em;
  display: inline-block;
  width: 120px;
}

#search-block-form input.form-submit,
#search-form input.form-submit {
  margin: 0;
  padding: 0;
  height: 25px;
  width: 34px;
  border-color: #E4E4E4 #D2D2D2 #B4B4B4;
  background: url(/themes/bartik/images/search-button.png) no-repeat center top;
  overflow: hidden;
  text-indent: -9999px;
  text-transform: capitalize; /* For IE7 */
}

/* Comments ----------------------------------------------------------------- */

#comments,
#comments .comment {
  display: block;
  clear: both;
}

/* Users / Profiles --------------------------------------------------------- */

/* Fields / Forms ----------------------------------------------------------- */
input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  padding: 2px;
  border: 1px solid #CCC;
  border-top-color: #999;
  border-radius: 3px;
  background: #fff;
  color: #333;
}

input, textarea {
  font-size: 1em;
}

fieldset {
  border: 1px solid #aaa;
}

fieldset .fieldset-legend {
  font-weight: bold;
}

fieldset .fieldset-wrapper {
  padding: 0 .5em;
}

/* Filter tips */
.filter-wrapper {
  padding: .4em;
  border-color: #ccc;
}

.filter-wrapper .form-type-select {
  margin-top: 0;
  padding: 0;
}

.filter-wrapper .form-type-select label {
  color: #777;
}

.filter-wrapper .filter-help {
  padding: 0;
}

.filter-wrapper .filter-guidelines {
  display: none;
}

/* WYSIWYG */
.wysiwyg-toggle-wrapper {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-left: .5em;
}

/* Date fields */
.field-type-datetime .form-type-date-popup label {
  float: left;
  padding-left: 2px;
}

.container-inline-date .date-padding {
  overflow: auto;
}

/* User Profile Pages ------------------------------------------------------- */
.profile dt {
  clear: none;
  float: none;
  width: inherit;
  text-align: left;
}

.profile dd {
  float: none;
  width: inherit;
}

/* System ------------------------------------------------------------------- */
/* Buttons */
input.form-submit,
a.button {
  background-color: #eee;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  border-radius: .3em;
  color: #333;
  cursor: pointer;
  font-weight: normal;
  font-size: 1.1em;
  margin-right: .4em;
  padding: .2em .8em .3em;
  text-align: center;
}

input.form-submit:hover,
input.form-submit:active,
a.button:hover,
a.button:active {
  background-color: #ededed;
  border-bottom-color: #999;
  border-left-color: #bbb;
  border-right-color: #bbb;
  text-decoration: none;
  color: #000;
  box-shadow: 0px 1px 2px #ddd;
}

input.form-submit:active {
  background: #666;
  color: #fff;
  border-color: #555;
  text-shadow: #222 0px -1px 0px;
}

input.form-button-disabled,
input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}

/* Drupal Pager Styles */
ul.pager {
  clear: both;
  margin: 1em 0;
  color: #555;
}

.item-list .pager li {
  padding: .15em;
  margin: 0;
}

.pager li a {
  color: #444;
  padding: 3px 7px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
}

.pager a:hover {
  color: #000;
  background-color: #fff;
  border-color: #999;
}

/* Tables */
table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}

table table {
  font-size: 1em;
}

table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none;
}

table tr th,
table tr th a,
table tr th a:hover {
  color: #FFF;
  font-weight: bold;
}

table tbody tr th {
  vertical-align: top;
}

tr td,
tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left; /* LTR */
}

tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}

tr,
tr.even {
  background: #efefef;
  background: rgba(0, 0, 0, 0.063);
}

table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

table ul.links li {
  padding: 0 1em 0 0;
}

/* Saving... throbber */
#saving {
  background: url(../images/loading.gif) no-repeat 12px 15px;
  display: none;
  font-weight: bold;
  margin: 0 0 1.85em;
  padding: 1em 0 0 36px;
  width: 5em;
}

#saving p {
  margin: 0;
}

#saving-notice {
  background: #ffc;
  font-style: italic;
}

/* Vertical Tabs */
.vertical-tab-button {
  outline: none; /* Fixes strange dip-down of outline */
}

.vertical-tabs .form-type-textfield input {
  width: auto; /* See: http://drupal.org/node/1143712#comment-4697172 */
}

.vertical-tabs ul.vertical-tabs-list .summary {
  color: #888;
  font-size: .85em;
  line-height: 1.25em;
}

.vertical-tabs ul.vertical-tabs-list li a {
  color: #444;
}

.vertical-tabs ul.vertical-tabs-list li a:hover {
  color: #222;
  background-color: #ddd;
}

.vertical-tabs ul.vertical-tabs-list li a:focus strong,
.vertical-tabs ul.vertical-tabs-list li a:active strong,
.vertical-tabs ul.vertical-tabs-list li a:hover strong {
  text-decoration: none;
}

.vertical-tabs ul.vertical-tabs-list li.selected a:hover {
  color: inherit;
  background-color: inherit;
  outline: none;
}

.vertical-tabs-panes fieldset fieldset legend {
  display: block; /* Weird behavior in Drupal core? */
}

/* System Status Report */
.system-status-report tr {
  border-bottom: 1px solid #ccc;
}

.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2;
}

.system-status-report tr.info {
  color: #040f37;
  background-color: #bdf;
}

.system-status-report tr.warning {
  color: #840;
  background-color: #fffce5;
}

.system-status-report tr.error {
  color: #8c2e0b;
  background-color: #fef5f1;
}

/* Other */
.element-invisible {
  width: 1px; /* See https://www.drupal.org/node/2664214 */
}

/* Admin Menu */
#admin-menu-wrapper {
  font-size: .8em;
}

/* Responsive layout */
@media screen and (max-width: 740px) {
  /* Layout ----------------------------------------------------------------- */
  #page-wrapper,
  #page {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #page {
    padding: 0 1em;
  }

  #header,
  #header .section {
    padding: 0;
  }

  #site-name {
    padding: 0;
  }

  .with-navigation #content,
  .with-navigation #sidebar-first,
  .with-navigation #sidebar-second {
    margin-top: 0;
  }

  #content,
  #content .section,
  .sidebar-first #content .section,
  .sidebar-second #content .section,
  .two-sidebars #content .section {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #sidebar-first,
  #sidebar-second {
    background: none;
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #footer .column {
    width: 100%;
    float: none;
    padding: 0;
    margin: 0;
  }

  #footer .column .section {
    padding: 1em 0;
  }

  /* Navigation ------------------------------------------------------------- */
  .js #navigation .menu {
    display: none;
  }

  .js .slicknav_menu {
    display: block;
  }

  /* Blocks ----------------------------------------------------------------- */
  .block-search {
    text-align: center;
  }

  /* Webforms --------------------------------------------------------------- */
  .webform-container-inline label {
    display: block;
  }

  form input {
    max-width: 100%;
  }

  /* General ---------------------------------------------------------------- */
  img {
    max-width: 100%; /* Make sure all images fit within viewport */
    height: auto; /* Correct width from max-width rule above. */
  }
}
