/* ---------- Color form ----------- */
#color_scheme_form #palette .form-item {
  width: 25em;
}
#color_scheme_form #palette .form-item label {
  width: 15em;
}

/* ---------- Preview Styles ----------- */
html.js #preview {
  clear: both;
  float: none !important;
}

#preview {
  border: 1px dotted #999999;
  background-color: #ffffff;
  color: #333333;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
  word-wrap: break-word;
  padding: 1em 1.2em;
  margin-bottom: .5em;
}

#preview a {
  color: #237da3;
}

#preview a:hover,
#preview a:active {
  color: #2e8eb8;
}

#preview-logo {
  float: left;
  padding: 15px 15px 15px 10px;
}

#preview-site-name {
  color: #000000;
  font-weight: normal;
  font-size: 1.821em;
  font-family: 'Merriweather', Georgia, Times, serif;
  margin-bottom: 30px;
  padding-top: 31px;
}

#preview-main-menu {
  clear: both;
  padding: 0;
  margin-top: 5px;
}

#preview-main-menu-links {
  border-bottom: 1px solid #3ca0cb;
  font-size: 0.929em;
  margin: 0;
  padding: 0 0 0 7px;
}

#preview-main-menu-links a {
  color: #333333;
  display: inline-block;
  background-color: #cccccc;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
  padding: .4em .8em .3em;
}

#preview-main-menu-links li {
  display: inline;
  list-style-type: none;
  padding: .6em 0 .4em;
}

#preview-main-menu-links a:hover,
#preview-main-menu-links a:active,
#preview-main-menu-links a.active,
#preview-main-menu-links a:focus {
  color: #ffffff;
  background-color: #3ca0cb;
  text-decoration: none;
}

#preview-main-menu-links li a.active {
  border-bottom: none;
}

#preview-page-title {
  font-size: 1.3em;
  font-weight: bold;
  margin: .8em 0 .4em;
}

#preview-block-title {
  font-size: 1.1em;
  font-weight: bold;
  margin: .5em 0 .2em;
}

#preview-footer {
  border-top: 1px solid #3ca0cb;
  margin-top: 1em;
}
