
<div id="preview">

  <div id="preview-header">
    <div id="preview-logo"><img src="../../../sites/all/themes/parish_theme/logo.png" alt="Site Logo" width="65" height="65" /></div>
    <div id="preview-site-name">Parish Theme</div>
    <div id="preview-main-menu">
      <ul id="preview-main-menu-links">
        <li><a class="active">Home</a></li>
        <li><a>Bulletin</a></li>
        <li><a>Calendar</a></li>
        <li><a>About Us</a></li>
      </ul>
    </div>
  </div>

  <div id="preview-main" class="clearfix">
    <div id="preview-page-title">Semper ubi sub ubi</div>
    <div class="content">
      Sit amet, <a>consectetur adipisicing elit</a>, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      nostrud <a>exercitation ullamco</a> laboris nisi ut aliquip ex ea
      commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
    </div>
  </div>

  <div id="preview-footer">
    <div id="preview-block-title">Etiam est risus</div>
    <div class="content">
      Maecenas id porttitor Ut enim ad minim veniam, quis nostrudfelis.
      Laboris nisi ut aliquip ex ea.
    </div>
  </div>

</div>
